# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
logs/**/*.log

# OS files
.DS_Store
Thumbs.db

# nodemon
nodemon.json

# Optional IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.env